<div class="flash_area">
	<%= flash[:notice] %>
	<%= flash[:warning] %>
</div>

<div class="topic">
<h3>世界遺産</h3>
<div class="topic-area">
	<% @w_heritages.each do |s| %>
		<div class="review-box">
			<div class="topic-img-area">
				<%= link_to spot_path(s.id) do %>
				<%= image_tag s.spotimage, :size => '270x196', class: "review-img img-trim" %>
				
				<% end %>
				<div class="review-info">
					<p><%= s.name %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>
</div>

<div class="lastreview-area">
	<h3>最新のレビュー</h3>
	<% @reviews.each do |review| %>
	<div class="review-box">
		<div class="review-img-area">
			<p><%= review.spot.name.truncate(18) %></p>
			<!-- 投稿画像 後ほど５件までなど制限する-->
			<% if review.reviewimages.attached? %>
			<!-- 1枚目の画像のみ表示してリンクにする -->
				<%= link_to spot_path(review.spot.id) do %>
	   				<%= image_tag review.reviewimages[0], :size => '270x196', class: "review-img img-trim" %>
	   			<% end %>
			<% else %>
			<!-- 投稿がなければNoイメージかスポットの画像を表示する -->
				<%= link_to spot_path(review.spot.id) do %>
					<%= image_tag("no_spotimage.jpg", :size => '270x196',class: "review-img img-trim") %>
				<% end %>
			<% end %>
		</div>
		<div class="review-info">
			<p>投稿者：<%= review.user.username %></p>
			<p><strong><%= review.title %></strong></p>
		</div>
	</div>
	<% end %>
</div>


<script>
	function topSlide(area, btn, speed) {
		var windowWidth  = $(window).outerWidth();
		var windowHeight = $(window).outerHeight();

		$('.content').css('height', windowHeight); //コンテンツ充実すればいらない

		$(btn).on('click', function(){ //ボタン変えてね
			$('html, body').scrollTop(0);

			$(area).animate({
				top: -(windowHeight),
				// 'opacity' : 0
			}, speed, 'swing');
			$(area).hide(speed);
		});

	}

	$(window).on('load resize', function(){
		topSlide('.topbg', '.top-title-area', 2000);
	});
	
</script>

<script>
	$(document).ready(function(){
  $('.topic-area').slick({
  	infinite: true,
  	// 左右の次へ、前へボタンを表示するかどうか
  	arrows: true,
  	// appendArrows

  	 // アクセシビリティ。左右ボタンで画像の切り替えをできるかどうか
 	accessibility: true,
 	// 自動再生。trueで自動再生される。
  	autoplay: true,
    // 自動再生で切り替えをする時間
	autoplaySpeed: 3000,
	speed: 1000,
  	// 自動再生時にスライドのエリアにマウスオンで一時停止するかどうか
	pauseOnHover: true,
    // 5枚表示
    slidesToShow: 5,
    slidesToScroll: 1,
    // 表示中の画像を中央へ
 	 centerMode: true,
 	// 中央のpadding
	centerPadding: '10px'
  });
});
</script>



