<div class="flash_area">
	<%= flash[:notice] %>
	<%= flash[:warning] %>
</div>

<div class="lastreview-area">
	<h3>最新のレビュー</h3>
	<% @reviews.each do |review| %>
	<div class="review-box">
		<div class="review-img-area">
			<p><%= review.spot.name.truncate(18) %></p>
			<!-- 投稿画像 後ほど５件までなど制限する-->
			<% if review.reviewimages.attached? %>
			<!-- 1件目のみ表示してリンクにする -->
				<%= link_to spot_path(review.spot.id) do %>
	   				<%= image_tag review.reviewimages[0], :size => '275x200', class: "review-img img-trim" %>
	   			<% end %>
			<% else %>
			<!-- 投稿がなければNoイメージかスポットの画像を表示する -->
				<%= link_to spot_path(review.spot.id) do %>
					<%= image_tag("no_spotimage.jpg", :size => '275x200',class: "review-img img-trim") %>
				<% end %>
			<% end %>
		</div>
		<div class="review-info">
			<p>投稿者：<%= review.user.username %></p>
			<p><strong><%= review.title %></strong></p>
		</div>
	</div>
	<% end %>
</div>


<script>
	function topSlide(area, btn, speed) {
		var windowWidth  = $(window).outerWidth();
		var windowHeight = $(window).outerHeight();

		$('.content').css('height', windowHeight); //コンテンツ充実すればいらない

		$(btn).on('click', function(){ //ボタン変えてね
			$('html, body').scrollTop(0);

			$(area).animate({
				top: -(windowHeight),
				// 'opacity' : 0
			}, speed, 'swing');
			$(area).hide(speed);
		});

	}

	$(window).on('load resize', function(){
		topSlide('.topbg', '.top-title-area', 2000);
	});
	
</script>




