<h1>スポット検索</h1>
<dl class="searchbox">
  <%= search_form_for @search, url: spots_path do |f| %>
    <dt><%= f.text_field :name_cont ,placeholder: '検索するスポット名を入力...' %></dt>
    <dt><label>カテゴリー</label>
		<%= f.collection_select :category_id_eq, Category.all, :id, :category_name, { include_blank: true, placeholder: "カテゴリー"} ,class: "form" %></dt>
    <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
  <% end %>
</dl>

<div class="">
    <%= link_to "スポット登録", new_spot_path, class: "" %>
</div>

<div class="spot-index">
	<% @spots.each do |s| %>
		<div class="spot-content">
			<%= link_to spot_path(s.id) do %>
				<% if s.spotimage.attached? %>
					<%= image_tag s.spotimage, :size => "350x200", class: "img-trim" %><br>
				<% else %>
					<%= image_tag("no_spotimage.jpg", :size => "350x200") %><br>
				<% end %>
			<% end %>
			<%= link_to spot_path(s.id) do %>
				<p><%= s.name %></p>
			<% end %>
			<% if user_signed_in? %>
				<% if s.visited_by?(current_user) %>
					<span>訪問済み</span>
				<% end %>
			<% end %>

			<p>カテゴリ：<%= s.category.category_name %></p>
			<p>レビュー数：<%= s.reviews.count %>件</p>
			<p>このスポットが気になっているユーザ：<%= s.favorites.count %>人</p>
			<% if user_signed_in? %>
				<% if s.favorited_by?(current_user) %>
					<p>気になるスポットに登録済み
		    		<%= link_to '解除する', spot_favorite_path(s,current_user), method: :delete %>
		    		</p>
				<% else %>
		    		<%= link_to '気になるスポットに登録する', spot_favorites_path(s), method: :post %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>
<div class="paginate">
	<%= page_entries_info(@spots) %>
	<%= paginate(@spots, :window => 2, :left => 1, :right => 1) %>
</div>
