<div>
	<h1>スポット登録</h1>
</div>

<div class="flash_area">
	<% if notice%>
	<div class="notice">
		<%= notice %>
	</div>
	<% end%>

	<% if alert %>
	<div class="alert">
		<%= alert %>
	</div>
	<% end %>
</div>

<%= render 'layouts/error_messages', model: @spot %>

<div id="map-content">
	<div id="menu">
		<div>
			<span>①登録したいスポット名を検索してください<br>
				右側にマップが表示されていない場合はページをリロードしてください。
			<!-- 検索バー -->
			<div class="input-group">
				<input type="text" id="find-place-query" placeholder="スポット名 (例: 清水寺)">
				<button id="find-place-query-button" type="button">検索</button>
			</div>
			<!-- <textarea id="result-area" style="width:100%; height:100px;font-size:.85em;" wrap="off"></textarea> -->
			</span>
		</div>
		<div class="spotform">
			<span>②以下のフォームを入力してください。<br>・名称とカテゴリは必須項目です。<br>・画像は350*200にトリミングされます。</span><br><br>
			<!-- image_tag("no_spotimage.jpg", :size => "350x200") -->
			<!-- local:trueを外すと、remote:trueになる -->
			<%= form_with model: @spot, local: true  do |f| %>
			<label>スポットの画像</label>
			  <%= f.file_field :spotimage %><br>
			  <!-- ユーザに見えないところでplace_idを登録 -->
			  <%= f.hidden_field :mapid, id: "s_mapid", class: "" %>
			<table>
			  <tr>
			  	<th align="right"><label>名称&nbsp;</label></th>
			  	<th><%= f.text_field :name, id: "s_name", class: "spotinput" %></th>
			  </tr>
			   <tr>
			  	<th align="right"><label>住所&nbsp;</label></th>
			  	<th><%= f.text_field :address, id: "s_address", class: "spotinput" %></th>
			  </tr>
			   <tr>
			  	<th align="right"><label>URL&nbsp;</label></th>
			  	<th><%= f.text_field :url, id: "s_web", class: "spotinput"%></th>
			  </tr>
  			   <tr>
			  	<th align="right"><label>カテゴリ&nbsp;</label></th>
			  	<th><%= f.collection_select :category_id, Category.all, :id, :category_name, { include_blank: true}, class: "spotinput" %></th>
			  </tr>
			</table>
			<%= f.submit '登録', class: "spotsubmit" %>
			<% end %>
		</div>
	</div>

	<!-- マップ表示 -->
	<div id="map"></div>
</div>


<script src="https://maps.google.com/maps/api/js?v=3.exp&amp;key=<%=Rails.application.credentials.dig(:google, :map_api_key)%>&amp;language=ja&amp;libraries=places"></script>



<script>
$(function() {
	var _map = null;
	var _center = new google.maps.LatLng(34.985849, 135.75876670000002);
	var _zoom = 14;
	var _markerGeo = null;
	// var _menuWidth = 100;
	var _placesService = null;
	var _markers = [];

	// 地図の初期化
	var initMap = function() {
		_map = new google.maps.Map(document.getElementById("map"), {
			zoom : _zoom,
			center: _center,
			mayTypeId: google.maps.MapTypeId.ROADMAP,
			mapTypeControlOptions: {
			    position: google.maps.ControlPosition.BOTTOM_CENTER
			}
		});
		_placesService = new google.maps.places.PlacesService(_map);
	};



	// スポット検索
	var findPlaceFromQuery = function() {
		clearMarkers();
		_placesService.findPlaceFromQuery({
			query: $('#find-place-query').val(),
			fields: ['name', 'formatted_address', 'geometry', 'place_id']
		}, function(results, status) {
			console.log(results);

			// 結果を返す部分
			// $('#result-area').val(JSON.stringify(results, null, '\t'));
			$('#s_mapid').val(results[0].place_id);
 			$('#s_name').val(results[0].name);
 			// 日本の表記を削除する
 			$('#s_address').val(results[0].formatted_address.replace(/日本、/g , ""));

 			// 取得したIDから詳細取得メソッドを呼び出し、urlを取得
 			_placesService.getDetails({
				placeId: results[0].place_id,
				fields: ['website']
			}, function(place, status) {
				console.log(place);
				$('#s_web').val(place.website);
			});

			if (status == google.maps.places.PlacesServiceStatus.OK) {
				for (var i = 0; i < results.length; i++) {
					var place = results[i];
					createMarker(place);
					_map.setCenter(place.geometry.location);
				}
			} else {
				alert('失敗しました。' + status);
			}
		});

		
	};

	// 詳細情報検索
	// var placeDetails = function() {
	// 	clearMarkers();
	// 	_placesService.getDetails({
	// 		placeId: $('#place-details').val(),
	// 		fields: ['website']
	// 	}, function(place, status) {
	// 		console.log(place);
	// 		$('#result-area').val(JSON.stringify(place, null, '\t'));
	// 		// if (status == google.maps.places.PlacesServiceStatus.OK) {
	// 		// 	createMarker(place);
	// 		// } else {
	// 		// 	alert('失敗しました。' + status);
	// 		// }
	// 	});
	// };

	var clearMarkers = function() {
		$.each(_markers, function(i, marker) {
			marker.setMap(null);
		});
		_markers = [];
	};

	var createMarker = function(place) {
		var marker = new google.maps.Marker({
			map: _map,
			position: place.geometry.location,
			title: place.name
		});
		_markers.push(marker);
	};

	// ジオコードを実行し、地図を移動
	var geocode = function(address) {
		var geocoder = new google.maps.Geocoder();
		geocoder.geocode({
			address: address
		}, function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				_map.setCenter(results[0].geometry.location);
				if (_markerGeo == null) {
					_markerGeo = new google.maps.Marker({
						map: _map,
						position: results[0].geometry.location
					});
				} else {
					_markerGeo.setPosition(results[0].geometry.location);
				}
			}
		});
	};




	// 起動時の処理
	$(window).on('load', function() {
	// document.addEventListener("turbolinks:load", function(){
		initMap();
		$('#find-place-query-button').on('click', findPlaceFromQuery);
	});
});
</script>
