<div class="flash_area">
	<% if notice%>
	<div class="notice">
		<%= notice %>
	</div>
	<% end%>

	<% if alert %>
	<div class="alert">
		<%= alert %>
	</div>
	<% end %>
</div>

<div class="spot-show">
	<div class="spot-area">
		<div class="spot-show-head">
			<h2><%= @spot.name %></h2>

			<div class="spot-info">
				<label>カテゴリ：
					<% for i in 1..8 do%>
					<% case @spot.category.id
						when i %>
						<span id="category<%= i %>" class="categorytag"><%= @spot.category.category_name %></span>
						<% end %>
						<% end %>
					</label><br><br>
					<label>ホームページのURL: <%= link_to @spot.url,"#{@spot.url}", :target => "_blank" %></label><br><br>

					<% if user_signed_in? %>
					<!-- ここにログインしているときだけに表示する処理を書く -->
					<!-- 管理者または投稿ユーザのみ編集可能 -->
					<% if (current_user.id == @spot.user_id) || (current_user.is_admin == true) %>
					<%= link_to '編集', edit_spot_path %>
					<% end %>
					<% end %>
				</div>


				<!-- お気に入り登録ボタン -->
				<% if user_signed_in? %>
					<% if @spot.favorited_by?(current_user) %>
						<%= render 'favorites/unfavorite', spot: @spot %>
					<% else %>
						<%= render 'favorites/favorite', spot: @spot %>
					<% end %>
				<% end %><br>

				<!-- 訪問した日登録 -->
				<% if user_signed_in? %>
				<div class="">
					<div class="">
						<%= form_with model: [@spot, @visit], local: true  do |f| %>
						<label>訪問日時：</label>
						<%= f.datetime_select :date, {default: Date.today + 0.hour}   %>
						<%= f.submit "追加", class: "" %>
						<% end %>
					</div>
				</div>
				<% end %>

			</div><br>
			<div class="spot-img">
				<% if @spot.spotimage.attached? %>
				<%= image_tag @spot.spotimage, :size => '500x350', class: "img-trim" %><br>
				<% else %>
				<%= image_tag("no_spotimage.jpg", :size => '500x350') %><br>
				<% end %>
			</div>

			<div class="spot-map">

				<iframe
				width="500"
				height="345"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=<%=Rails.application.credentials.dig(:google, :map_api_key)%>&zoom=12&q=place_id:<%= @spot.mapid %>" allowfullscreen>
			</iframe><br>
			<label>住所:<%= @spot.address %></label>
		</div>
	</div>

	<!-- レビュー投稿フォーム -->
	<% if user_signed_in? %>
	<div class="panel panel-default review_form">
		<h2>レビュー投稿</h2>
		<div class="panel-body">
			<%= form_with model: [@spot, @review], local: true  do |f| %>
			<!-- エラーメッセージ表示 -->
			<label>投稿写真(3枚まで登録可能。320*200にトリミングされて表示されます。)</label><br>
			<%= f.file_field :reviewimages, multiple: true %><br><br>
			<label>タイトル</label>
			<%= f.text_field :title, value: '無題' %>
			<br><br>
			<label>本文</label><br>
			<%= f.text_area :body, :maxlength => 300, class: "review-body char-count" %><span class="count"></span>/300
			<br><br>
			<%= f.submit "投稿", class: "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	</div>
	<% end %>


	<!-- レビュー一覧 -->
	<div class="review-index">
		<h2>レビュー一覧</h2>
		<% if @spot.reviewcount == 0 %>
		<p class="">レビューがありません</p>
		<% else %>
		<p>投稿件数<%= @spot.reviewcount %>件</p>
		<% end %>

		<% @reviews.each do |review| %>
		<div class="review">
			<div class="">
				<div class="review-img-area">

					<% if review.reviewimages.attached? %>
					<% review.reviewimages.each do |image| %>
					<%= image_tag image, :size => '320x200', class: "review-img img-trim" %>
					<% end %>
					<% else %>
					<%= image_tag("no_spotimage.jpg", :size => '320x200',class: "review-img img-trim") %>
					<% end %>
				</div>
				<div class="review-info">
					<p>投稿日：<%= review.created_at.strftime('%Y年%m月%d日') %></p>
					<p>投稿者：<%= review.user.username %></p>
					<p><strong><%= review.title %></strong></p>
					<p><%= review.body %></p>
				</div>
			</div>
			<div class="">
				<% if user_signed_in? %>
				<% if (review.user == current_user) || (current_user.is_admin == true) %>
				<%= link_to '削除', [@spot,review], :method => :delete, data: { confirm: '削除しますか？' } , class: "" %>
				<% end %>
				<% end %>
				<br>
			</div>
		</div>
		<% end %>
	</div>

	<div class="paginate">
		<%= page_entries_info(@reviews) %>
		<%= paginate(@reviews, :window => 2, :left => 1, :right => 1) %>
	</div>
</div>
<script>
	$(function(){
		$('.unfav').hover(
		function()
		{
			$(this).css({'background-color': '#BA2A2A',
						 'padding' : '0 53px 0 53px'
													});
			$(this).text('登録を解除する');
		},
		function()
		{
			$(this).css({'background-color': '#57734A',
						 'padding' : '0 5px 0 5px'
													});
			$(this).text('気になるスポットに登録済み');
		});
	});
</script>