<h1>Spots#show</h1>
<div class="flash_area">
	<%= flash[:notice] %>
	<%= flash[:warning] %>
</div>

<div class="spotinfo">
	<% if @spot.spotimage.attached? %>
		<%= image_tag @spot.spotimage, :size => "350x200", class: "spotimg" %><br>
	<% else %>
		<%= image_tag("no_spotimage.jpg", :size => "350x200") %><br>
	<% end %>

	<label>名称:</label>
	<%= @spot.name %><br>
	<label>詳細情報:</label>
	<%= @spot.description %><br>
	<label>住所:</label>
	<%= @spot.address %><br>
	<label>ホームページのURL:</label>
	<%= link_to @spot.url,"http://www.#{@spot.url}", :target => "_blank" %><br>

	<label>カテゴリ:</label>
	<%= @spot.category.category_name %><br>

	<% if user_signed_in? %>
	<!-- ここにログインしているときだけに表示する処理を書く -->
		<!-- 管理者または投稿ユーザのみ編集可能 -->
		<% if (current_user.id == @spot.user_id) || (current_user.is_admin == true) %>
			<%= link_to '編集', edit_spot_path %>
		<% end %>
	<% end %>
</div>

<!-- レビュー投稿フォーム -->
<h3>レビュー投稿</h3>
<% if user_signed_in? %>
	<div class="panel panel-default review_form">
		<div class="panel-body">
			<%= form_with model: @review, local: true  do |f| %>
				<label>タイトル</label>
				<%= f.text_field :title %>
				<br><br>
				<label>本文</label>
				<%= f.text_area :body %>
				<br><br>
				<%= f.submit "投稿", class: "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	</div>
<% end %>

<!-- レビュー一覧 -->
<h3>レビュー</h3>
<div class="">
		<!-- current_userにレビュー削除機能を追加する -->
	<% if @spot.reviews.length == 0 %>
		<h4 class="space">商品レビューがありません</h4>
	<% end %>

	<% @spot.reviews.each do |review| %>
	<div class="panel panel-default review_form">
		<div class="panel-body">
			<div class="review_index">
				<p>投稿者：<%= review.user.username %></p>
				<p><strong><%= review.title %></strong><p>
				<p><%= review.body %></p>
			</div>
			<div class="review_created_at">
				<p><%= review.created_at.strftime('%Y年%m月%d日') %></p>
				<br>
				<br>
				<% if review.user == current_user %>
					<%= link_to '削除', review_path(@product), :method => :delete, data: { confirm: '削除しますか？' } , class: "btn btn-danger btn-sm" %>
				<% end %>
			</div>
		</div>
	</div>
	<% end %>
</div>