<h1>マイページ</h1>
<div class="flash_area">
	<%= flash[:notice] %>
</div>

<!-- 取得データをJSONに変換し、HTML要素のdata属性に設定(viewに埋め込む) -->
<div id="tag_info" data-json="<%= @category_names.to_json %>" ></div>
<!-- ユーザのカテゴリ別訪問数 -->
<!-- <div id="date_info" data-json="<%= @visitcategory.to_json %>" ></div> -->

<div class="topinfo">
  <div class="userinfo">
   <% if @user.userimage.attached? %>
   <%= image_tag @user.userimage, :size => "300x300", class: "profileimg" %>
   <% else %>
   <%= image_tag("no_userimage.jpg", :size => "300x300") %>
   <% end %>


   <!-- local:trueを外すと、remote:trueになる -->
   <%= form_with model: @user, local: true  do |f| %>
   <label>プロフィール画像</label>
   <%= f.file_field :userimage %><br>
   <label>ユーザ名</label>
   <%= f.text_field :username %><br>
   <%= f.submit '更新' %>
   <% end %>

   <div class="user-link">
    <%= link_to '投稿一覧へ', user_reviews_path(@user) %><br><br>
    <%= link_to '気になるスポット一覧へ', user_favorites_path(@user) %><br><br>
    <%= link_to '訪問履歴へ', user_visits_path(@user) %><br><br>
    <%#= link_to '退会する', user_path(@user), :method => :delete, data: { confirm: '退会するとそのアカウントではログイン不可となり、これまでに投稿してきたレビューも削除されます。本当に退会しますか？' } , class: "" %>
  </div>

</div>

<!-- チャート部分 -->
<div id="userchart" style="width:900px; height:600px;">
  <canvas id="myPieChart" style=""></canvas>
</div>
</div>

<div class="user-map-area">
  <h2>マイMAP</h2>
  <p>ブラウザでログインしているユーザのGoogleマップが表示されます。</p>
  <iframe
  width="1000"
  height="700"
  frameborder="0" style="border:0"

  src="https://www.google.com/maps/embed/v1/place?key=<%=Rails.application.credentials.dig(:google, :map_api_key)%>&zoom=12&q=京都駅" allowfullscreen>
</iframe><br>
</div>

<script>
 // 設定した要素のdata属性の値を取得
 // var tags = JSON.parse('<%= @category_names %>');
 var tags = JSON.parse(document.getElementById('tag_info').dataset.json);
　//各スポットごとの訪問数取得
// 　var categorycount = JSON.parse(document.getElementById('data_info').dataset.json);
var categorycount = JSON.parse('<%= @visitcategory %>');


　var ctx = document.getElementById("myPieChart");
var myPieChart = new Chart(ctx, {

    // 円グラフを指定
    type: 'pie',
    // グラフのデータ
    data: {
    //カテゴリテーブルのカテゴリ名を全件表示
    labels:tags,
    datasets: [{
        // 色も後ほど配列でカテゴリ数だけ用意するようにする
        backgroundColor: [
        // "#398793",
        // "#9DBDAE",
        // "#57734A",
        // "#BFBF56",
        // "#C13A40",
        // "#E59A57",
        //  "#E0B34E",
        // "#B1B4AD"
        
        "#001950",
        "#003e7d",
        "#1168ad",
        "#509458",
        "#80c686",
        "#ffef00",
        "#f4d002",
        "gray"
        ],
          // それぞれの訪問数
          data: categorycount
        }]
      },
      plugins: [dataLabelPlugin],
    // グラフ自体のタイトル
    options: {
      title: {
        display: true,
        text: '訪れたスポット数（カテゴリ別）'
      }
    }
  });
</script>