<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<h1>投稿一覧</h1>
<div class="flash_area">
	<% if notice%>
	<div class="notice">
		<%= notice %>
	</div>
	<% end%>

	<% if alert %>
	<div class="alert">
		<%= alert %>
	</div>
	<% end %>
</div>

<div class="userreviews">
<% @reviews.each do |review| %>
	<div class="review">
			<div class="">
				<div class="review-img-area">
					<!-- 投稿画像 投稿が3件までに制限されている-->
					<% if review.reviewimages.attached? %>
	  					<% review.reviewimages.each do |image| %>
	    					<%= image_tag image,  :size => '320x200', class: "review-img" %>
						<% end %>
					<% else %>
						<%= image_tag("no_spotimage.jpg", :size => '320x200',class: "review-img") %>
					<% end %>
				</div>
				<div class="review-info">
					<p>投稿日：<%= review.created_at.strftime('%Y年%m月%d日') %></p>
					<p>投稿者：<%= review.user.username %></p>
					<a href="https://twitter.com/intent/tweet?button_hashtag=京都に恋する&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-text="<%=review.title%>   京都の思い出のシェアサイト「京都に恋する」" data-url="https://www.kyotonikoisuru.site" data-show-count="false">Tweet #京都に恋する</a>
					<p><strong><%= review.title %></strong></p>
					<p><%= review.body %></p>
				</div>
			</div>
			<div class="">
				<% if (user_signed_in? && review.user == current_user) || (current_user.is_admin == true) %>
					<%= link_to '削除', [@user,review], :method => :delete, data: { confirm: '削除しますか？' } , class: "" %>
				<% end %>
				<br>
			</div>
	</div>
<% end %>
<div class="paginate">
	<%= page_entries_info(@reviews) %>
	<%= paginate(@reviews, :window => 2, :left => 1, :right => 1) %>
</div>
</div>

