<!DOCTYPE html>
<html>
  <head>
    <title>Kyoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="">
        <%= link_to "ホーム", index_path, class: "" %>
    </div>
     <div class="">
        <%= link_to "スポットを探す", spots_path, class: "" %>
      </div>
    <% if user_signed_in? %>
      <div class="">
        <%= link_to "スポット登録", new_spot_path, class: "" %>
      </div>
      <div class="">
        <%= link_to "マイページ", user_path(current_user.id), class: "" %>
      </div>
      <div class="sign_out_button">
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "" %>
      </div>
    <!-- ユーザがログインしていなかった場合 -->
    <% else %>
      <div class="button sign_up_button">新規登録</div>
      <div class="button sign_in_button">ログイン</div>
    <% end %>
  </header>

  <body>

    <!-- ボックスが表示されている間の背景 -->
    <div class="sign_modal_wrapper"></div>
    <!-- フォームの枠 -->
    <div class="sign_modal">
      <!--フォームを消すためのボタンを配置する領域  -->
      <div class="sign_modal_head"></div>
      <!-- 入力フォーム -->
      <div class="sign_modal_body">
        <div class="sign_modal_up">
          <form class="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="zaWPa69TQbS3WaB1t9cAnUmmFcuA5BNYc9sSJ0cFFy60r3smDjGYTEM0U7PFfcVZnwTrxh7cNEDkJOWEGSAAzw==">
            <div class="field">
              <label for="user_username">ユーザ名</label><br>
              <input autofocus="autofocus" autocomplete="username" type="text" value="" name="user[username]">
            </div>
            <div class="field">
              <label for="user_email">メールアドレス</label><br>
              <input autocomplete="email" type="email" value="" name="user[email]">
            </div>

            <div class="field">
              <label for="user_password">パスワード</label>
              <em>(６文字以上)</em>
              <br>
              <input autocomplete="new-password" type="password" name="user[password]" aria-autocomplete="list">
            </div>

            <div class="field">
              <label for="user_password_confirmation">パスワード（確認用）</label><br>
              <input autocomplete="new-password" type="password" name="user[password_confirmation]">
            </div>

            <div class="actions">
              <input type="submit" name="commit" value="新規登録" data-disable-with="処理中">
            </div>
          </form>
        </div>
        <div class="sign_modal_in">
          <form class="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="afGFsJ9Ql1eL+k/GqHv+ADOmyM1/IQiSGQWm9NSvQrUQ+3H9PjJOr3+XvADa0TvE5QQ2wOEZL4qO+lFXiopVVA==">
            <div class="field">
              <label for="user_email">メールアドレス</label><br>
              <input autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]">
            </div>

            <div class="field">
              <label for="user_password">パスワード</label><br>
              <input autocomplete="current-password" type="password" name="user[password]">
            </div>

              <div class="field">
                <input name="user[remember_me]" type="hidden" value="0"><input type="checkbox" value="1" name="user[remember_me]">
                <label for="user_remember_me">記憶させる</label>
              </div>

            <div class="actions">
              <input type="submit" name="commit" value="ログイン" data-disable-with="処理中">
            </div>
          </form>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>

<footer>


</footer>

</html>
